* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  padding: 20px;
  color: #eee;
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #0a0a0a;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #f0f0f0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input[type="text"],
form input[type="date"],
form textarea {
  padding: 10px;
  border: 1px solid #161618;
  border-radius: 8px;
  font-size: 16px;
  background-color: #121212;
  color: #eee;
}

form button {
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #1c418b;
}

/* container */
.data-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 20px;
}

/* individual card */
.card {
  background-color: #121212;
  border: 1px solid #161618;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #f0f0f0;
}

.card p {
  font-size: 15px;
  color: #bbb;
}

/* action butons */
.card .actions {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: stretch;
}

.status-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  background-color: #1a1a1a;
  border-radius: 8px;
}

.status-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 14px;
  color: #eee;
}

.status-toggle input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #00c853;
  cursor: pointer;
}

.date {
  font-size: 13px;
  color: #aaa;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 15px;
}

button.edit,
button.delete {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button.edit {
  background-color: #007bff;
  color: white;
}

button.delete {
  background-color: #dc3545;
  color: white;
}

.card .actions button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: white;
}

.card .actions .edit {
  background-color: #ffbf00c7;
  color: #222;
}

.card .actions .edit:hover {
  background-color: #b98c04ce;
}

.card .actions .delete {
  background-color: #ff0019a9;
}

.card .actions .delete:hover {
  background-color: #88232dd8;
}