# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.env
*.sqlite3
*.db
.env
.env.*


*.pem
*.key


.vscode/

# === JSON files ===


# === macOS/Linux system files ===
.DS_Store
Thumbs.db

# === Node.js / Frontend ===
node_modules/
dist/
build/
*.lock

# === Virtual environments (Python) ===
venv/
.venv/

# === Public folder uploads ===
public/uploads/
public/data/
public/
backup_data/
secure/

# === Misc ===
*.bak
*.tmp
*.swp
